{
  "Actions": [
    {
      "Name": "GBA_A",
      "GroupName": "GBA",
      "Title": "A Button",
      "KeyboardCode": "X",
      "GamepadCode": "B"
    },
    {
      "Name": "GBA_B",
      "GroupName": "GBA",
      "Title": "B Button",
      "KeyboardCode": "Z",
      "GamepadCode": "A"
    },
    {
      "Name": "GBA_L",
      "GroupName": "GBA",
      "Title": "L Button",
      "KeyboardCode": "A",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "GBA_R",
      "GroupName": "GBA",
      "Title": "R Button",
      "KeyboardCode": "S",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "GBA_Start",
      "GroupName": "GBA",
      "Title": "Start",
      "KeyboardCode": "ENTER",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "GBA_Select",
      "GroupName": "GBA",
      "Title": "Select",
      "KeyboardCode": "BACKSPACE",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "GBA_Up",
      "GroupName": "GBA",
      "Title": "D-Pad Up",
      "KeyboardCode": "UPARROW",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "GBA_Down",
      "GroupName": "GBA",
      "Title": "D-Pad Down",
      "KeyboardCode": "DOWNARROW",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "GBA_Left",
      "GroupName": "GBA",
      "Title": "D-Pad Left",
      "KeyboardCode": "LEFTARROW",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "GBA_Right",
      "GroupName": "GBA",
      "Title": "D-Pad Right",
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "DpadEast"
    }
  ],
  "__guid": "98fe4f0b-bcdd-48c5-817b-bfd6cb1f1706",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}